.comment {
    border-radius: 25px;
    position: relative;
    padding: 25px 30px;
    background-color: #81ecec;
    margin: 50px 50px;
    max-width: 600px;
    min-width: 600px;
    box-shadow: 0 2px 5px #ccc;
    text-align: left;
    color: #2d3436;
  }