.comment {
  background-color: $color-pink-light;
  border-radius: 25px;
  position: absolute;
  padding: 0px 30px;
  margin-top: 50px;
  margin-left: -30px;
  margin-bottom: 50px;
  max-width: 600px;
  min-width: 600px;
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
  color: #2d3436;

  &__name {
    font-weight: bold;
  }

  &__date {
    font-style: italic;
  }
}

.comment button {
  background-color: $color-pink-dark;
  color: #ffffff;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  margin-bottom: 15px;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
}