.add-message {
    position: relative;
    width: 800px;
    margin: 130px auto 20px auto;
    background: $color-blue-light;
    padding: 30px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
  }

form.add-message input,
form.add-message textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
  background: $color-blue-light;
}

form.add-message button {
    background-color: $color-pink-light;
    color: $color-white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 18px;
    bottom: -18px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
  
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  
      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }
}

.error-message {
  color: $color-pink-dark;

  &::before {
      display: inline;
      content: "⚠ ";
    }
}

label {
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  padding: 4px;
  color: #888888;
  font-size: 20px;
  font-weight: 200;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}
