.add-message {
    position: relative;
    width: 480px;
    margin: 30px auto 20px auto;
    background: $color-blue-light;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
  }

form.add-message input,
form.add-message textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
  background: $color-blue-light;
}

form.add-message button {
    background-color: $color-pink-light;
    color: $color-white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 18px;
    bottom: -18px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
  
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  
      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }
}
