.message-list {
    width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.message-list-item {
    padding: 20px;
    background: white;
    display: flex;
}

.message-details {
  padding-left: 20px;
  border-left: 1px solid #eee;

  flex: 1;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

