// Colors
$color-white: #fff;
$color-black: #000;
$color-blue-dark: #00cec9;
$color-blue-light: #81ecec;
$color-pink-light: #ffb6b6;
$color-pink-dark: #e19999;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;